.form-group {
  max-width: 500px;
  label {
    font-weight: 500;
    margin-bottom: 5px;
  }
  input {
    padding: 8px;
  }
  margin-bottom: 10px;
}

.error {
  padding: 8px;
  color: var(--accent);
}

.delete {
  cursor: pointer;
  padding-left: 5px;
}
