<hr />
<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="d-flex flex-column form-group">
      <label>Nom</label>
      <input
        formControlName="nom"
        type="text"
        name="name"
        placeholder="prénom nom"
      />
    </div>
    <div class="d-flex flex-column form-group">
      <label>Email</label>
      <input
        formControlName="email"
        type="email"
        name="email"
        placeholder="adresse email"
      />
    </div>
    <div formArrayName="hobbies" class="d-flex flex-column form-group">
      <label>Hobbies</label>
      <button class="btn btn-primary" (click)="addHobby()">
        Ajouter hobby
      </button>
      <input
        style="margin-top: 5px"
        type="text"
        formControlName="index"
        *ngFor="let hobby of hobbies.controls; let index = index"
      />
    </div>
    <div class="d-flex flex-column form-group">
      <label>Mot de passe</label>
      <input
        formControlName="password"
        type="password"
        name="password"
        placeholder="mot de passe"
      />
    </div>
    <div class="btn">
      <button type="submit" class="btn btn-primary">Inscription</button>
    </div>
  </form>
</div>
<hr />
<div class="container">
  <p>Value: {{ form.value | json }}</p>
</div>
